//Popup Welcome Text
div(class='welcomeText')

	image(    src='image/intro/welcome_text_1.png'   , class='hide welText welText_1' )
	image(    src='image/intro/welcome_text_2.png'   , class='hide welText welText_2' )
	image(    src='image/intro/welcome_text_3.png'   , class='hide welText welText_3' )
	image(    src='image/intro/welcome_text_4.png'   , class='hide welText welText_4' )
	image(    src='image/intro/welcome_text_5.png'   , class='hide welText welText_5' )
	image(    src='image/intro/welcome_text_6.png'   , class='hide welText welText_6' )
	image(    src='image/intro/welcome_text_7.png'   , class='hide welText welText_7' )
	image(    src='image/intro/welcome_text_8.png'   , class='hide welText welText_8' )
	image(    src='image/intro/welcome_text_9.png'   , class='hide welText welText_9' )

//Popup Welcome Text