extends index
block main
    .layout1
        .layout2
            div#tv_frame
                img.tv(src='image/tv_frame.png' data-padding='63px 44px')
                img.tv.hide(src='image/playerbg.png' data-padding='50px 30px 83px')
                #control.hide
                    ul#menu
                        li: a#menu-home(href="javascript:;") Home
                        li: a(href="javascript:;") Transcript
                        li: a#menu-glossary(href="javascript:;") Glossary
                        li: a#btn-pause(href="javascript:;")
                        //li: a#btn-pause(href="javascript:;")
                        li: a#btn-back(href="javascript:;")
                        li#parts-list
                            span Page &nbsp;
                            span#part-current 01
                            span &nbsp; of &nbsp;
                            span.parts-all 09
                        li: a#btn-next
                    #transcript.panel-fla.hide
                        .title-panel
                            h1 Transcript
                        .content-panel
                            .part1
                                | ac
                    #glossary.panel-fla.hide
                        .title-panel
                            h1 Glossary
                        .content-panel
                            ul.list-short-text
                                - var object = {}
                                - object['A'] ='<p><b>An Attorney</b> – An attorney is a person admitted to practice law in at least one jurisdiction to perform criminal and civil legal functions on behalf of clients.</p><p><b>Accounting or Accountancy</b> – Accounting basically is a service-based profession that provides reliable and relevant financial information, which is useful in making sound business decisions.</p><p><b>Accrual Basis</b> – It is a method of accounting in which each item is entered as it is earned or incurred regardless of when actual payments are received or made.</p><p><b>Assets</b> – Assets acquired in operating activities are called revenues.</p><p><b>Advertising</b> – Advertising is a form of communication for marketing and used to encourage, persuade, or manipulate an audience (viewers, readers or listeners; sometimes a specific group) to continue or take some new action.</p>'
                                - object['B'] =''
                                - object['B'] += '<p><b>Business Plans</b> – A business plan is an essential roadmap for business’ success. This living document outlines the route a company intends to take to grow revenues.</p>'
                                - object['B'] += '<p><b>Business Goals</b> – It is a mission statement company sets to achieve the goals during its time in operation.</p>'
                                - object['B'] += '<p><b>Blogs</b> – Blogs are usually used by individuals to record their observations and experiences.</p>'
                                - object['B'] += '<p><b>Brokers</b> – Brokers are third party distributors who often buy directly from the distributor or wholesaler and sell it to retailers or end users.</p>'
                                - object['B'] += '<p><b>Business Licenses</b> – Business Licenses are permits issued by government agencies that allow individuals to conduct business.</p>'
                                - object['B'] += '<p><b>Board of Equalization</b> – California collects California state sales and use tax, as well as fuel, alcohol, and tobacco taxes and fees that provide revenue for state government and essential funding for counties, cities, and special districts.</p>'
                                - object['B'] += '<p><b>Business Property Insurance</b> – It is a must to protect your company’s assets. It also protects commercial property from perils such as fire, burning, and theft. Business property insurance is a must to protect your company\'s assets.</p>'
                                - object['B'] += '<p><b>Bank Reconciliation</b> – It is a process that explains the difference between the bank balance shown in company’s bank statement, as supplied by the bank, and the corresponding amount shown in the organization\'s own accounting records at a particular point in time.</p>'
                                - object['B'] += '<p><b>Balance Sheet</b> – A balance statement of financial position is a summary of the financial balances of a company.</p>'
                                - object['B'] += '<p><b>Bank Statement</b> – Bank statement is a list of all transactions which occurred during a particular period of time and impacted cash in bank account of business. Such a statement is prepared by the bank and is provided to the company owning the bank account.</p>'
                                - object['B'] += '<p><b>Break-even Analysis</b> – It is a technique widely used by production management accountants. It is used to determine when your business will be able to cover all of its expenses and begin to make a profit.</p>'
                                - object['B'] += '<p><b>Business Description</b> – Business description allows you to get your ideas, plans and visions down on paper before you go any further. It is important to have a thorough understanding of what your business is, and the direction that you intend it to follow.</p>'
                                - object['C'] = ''
                                - object['C'] += '<p><b>Corporation</b> – It is a separate legal entity that has been incorporated through a legislative process established through legislation.</p>'
                                - object['C'] += '<p><b>Consultant</b> – A consultant is a person who provides professional advice in specific area of specialization such as Computer Technology, Engineering, Technology, Mechanics, etc.</p>'
                                - object['C'] += '<p><b>Competitor Analysis</b> – Competitor analysis in marketing and strategic management is an assessment of the strengths and weaknesses of current and potential competitors.</p>'
                                - object['C'] += '<p><b>Chamber of Commerce</b> – It is a form of business network. It is also referred to as a board of trade.</p>'
                                - object['C'] += '<p><b>Common Area Maintenance (CAM)</b> – A common area maintenance charge refers to the fees paid by tenants. Such fees are usually paid to the landlord to recompense operating, repairing and maintaining charges.</p>'
                                - object['C'] += '<p><b>Creditor</b> - A creditor is a person, bank, and other enterprise that has lent money to another party.</p>'
                                - object['C'] += '<p><b>Cash Basis Method</b> – The cash method of accounting records revenue when cash is received, and records expenses when cash is paid.</p>'
                                - object['C'] += '<p><b>Cash Flow Statement</b> – Cash flow statement predicts company’s cash balances in the future.</p>'
                                - object['C'] += '<p><b>Contributed Capital</b> – Contributed capital is a component of equity resulting from the contributions of the capital resources from the owners.</p>'
                                - object['C'] += '<p><b>Cash Ledger</b> – It is an accounting book of prime entry listing all the transactions that impacted cash in bank and this book is prepared by the accountant.</p>'
                                - object['C'] += '<p><b>Credit History</b> – A credit history shows an individual\'s past record of paying bills, loans, etc. It is also used to verify that they are financially responsible.</p>'
                                - object['C'] += '<p><b>Collateral</b> – Collateral are those personal and business assets that can be sold to pay back the loan. Every loan program, even many microloan programs, requires at least some collateral to secure a loan.</p>'
                                - object['C'] += '<p><b>Cash Flow </b> – Cash flow is the movement of money into or out of a business, project, or financial product. It is usually measured during a specified, limited period of time.</p>'
                                - object['D'] = ''
                                - object['D'] += '<p><b>DBA (Doing Business As)</b> – It is a legal term used in United States of America. It is a fictions term used under which one can conduct business. It is not an actual name of the business one conducts or is responsible for.</p>'
                                - object['D'] += '<p><b>Distribution</b>– Distribution is the way in which the equity is distributed amongst the various stock-holders.</p>'
                                - object['E'] = ''
                                - object['E'] += '<p><b>Entrepreneur</b> – Entrepreneur is a person who organizes and manages any enterprise, especially a business, usually with considerable initiative and risk.</p>'
                                - object['E'] += '<p><b>External Communication</b> – It includes email, brochures, newsletters, posters, advertisements and other forms of multimedia marketing designed to attract customers, partners and suppliers to conduct profitable business transactions.</p>'
                                - object['E'] += '<p><b>Excess Liability Coverage</b> – Excess liability is insurance coverage that typically provides coverage beyond that of an underlying policy such as an automobile or homeowner’s policy.</p>'
                                - object['E'] += '<p><b>Equity</b> – Equity is what the company “owes” to the owners. If a company goes bankrupt, liabilities are paid off first to the creditors, while equity is the last to be distributed.</p>'
                                - object['E'] += '<p><b>Expenses</b> – Assets used in the process of generating revenues are called expenses.</p>'
                                - object['E'] += '<p><b>Earnings before Income Tax</b> – It is an indicator of a company’s profitability, calculated as net income minus interest and tax.</p>'
                                - object['E'] += '<p><b>E-Mail Marketing</b> – Email marketing is directly marketing a commercial message to a group of people using email. Every email sent to a potential or current customer could be considered email marketing.</p>'
                                - object['E'] += '<p><b>Executive Summary</b> – It is a regular exercise in corporate world of giving executives a concise outline of the main points in a report, indicting where in the report look for detailed information.</p>'
                                - object['F'] = ''
                                - object['F'] += '<p><b>Federal Licenses and Permits</b> – If your business is regulated by federal government, you may need to obtain a federal license.</p>'
                                - object['F'] += '<p><b>Financial Accounting</b> – A field of accounting that treats money as a means of measuring economic performance instead of as a factor of production.</p>'
                                - object['F'] += '<p><b>Financial Statement</b> – A financial statement is a formal record of the financial activities of a business, person, or other entity.</p>'
                                - object['F'] += '<p><b>Financial Reporting</b> – Financial reporting is a process through which companies communicate information to the public.</p>'
                                - object['F'] += '<p><b>Fixed (overhead) expenses</b> – A fixed (overhead) cost refers to a specific type or group of business expenses. The word overhead in business is used to describe the cost of doing business or the amount of money an individual or company must spend in order to run and maintain a functional business.</p>'
                                - object['F'] += '<p><b>Forecasts</b> – It is also referred to as forecasting. It is the process of making statements about events whose actual outcomes (typically) have not yet been observed.</p>'
                                - object['F'] += '<p><b>Franchising</b> – Franchising is the practice of using another firm\'s successful business model.</p>'
                                - object['G'] = ''
                                - object['G'] += '<p><b>General Partnership</b> – Each of the two or partners will have unlimited liability for the debts of the business.</p>'
                                - object['G'] += '<p><b>Gross Margin</b> – Gross margin ratio is the ratio of a business to its revenue. It is a profitability measuring what proportion of revenue is converted into gross profits.</p>'
                                - object['I'] = ''
                                - object['I'] += '<p><b>Internal Communication</b> – It is the function responsible for effective communication or trade among participants within an organization, including states.</p>'
                                - object['I'] += '<p><b>Investor</b> – An investor is an individual who commits money to investment products with the expectation of financial return.</p>'
                                - object['I'] += '<p><b>Income Statement</b> – It is company’s financial performance measured for over a certain period of time.</p>'
                                - object['I'] += '<p><b>Income Tax</b> – Tax directly levied on an individual’s company or company’s income is called Income Tax.</p>'
                                - object['J'] = ''
                                - object['K'] = ''
                                - object['L'] = ''
                                - object['L'] += '<p><b>Limited Partnership</b> – Two or more partners unite to conduct a business.</p>'
                                - object['L'] += '<p><b>Limited Liability</b> – It is a concept through which person\'s liability is limited to a fixed value of a person\'s investment in a company.</p>'
                                - object['L'] += '<p><b>Liability</b> – A liability is defined as an obligation of an entity arising from past transactions or events, the settlement of which may result in the transfer or use of assets, provision of services or other yielding of economic benefits in the future.</p>'
                                - object['L'] += '<p><b>Local Licenses and Permits</b> –It is an agreement between government and an entrepreneur which requires an entrepreneur to comply with the local, state and federal laws in order to conduct businesses in a specific territory.</p>'
                                - object['L'] += '<p><b>Liability Insurance</b> – Insurance that protects a company and the owner of the company in the event of a formal lawsuit or other third party claim.</p>'
                                - object['L'] += '<p><b>Life Insurance</b> –The term, ‘Life Insurance’ is an assurance of an individual’s life in the event of untimely death.  It provides coverage at fixed rate of payments for a limited period of time.</p>'
                                - object['L'] += '<p><b>Loan Proposal</b> – Loan proposal is usually prepared and presented by bank’s officer.</p>'
                                - object['M'] = ''
                                - object['M'] += '<p><b>Managerial Accounting</b> – It involves preparing and providing timely financial and statistical information to business managers so that they can make day-to-day and short-term managerial decisions.</p>'
                                - object['M'] += '<p><b>Management Profile</b> – It is a detailed description about the company’s owner, board of directors and the products/services company renders to its clients.</p>'
                                - object['M'] += '<p><b>Marketing  Information</b> – A system that analyzes and assesses marketing information, gathered continuously from sources inside and outside an organization.</p>'
                                - object['M'] += '<p><b>Marketing</b> – Marketing is the way companies interact with consumers to create relationships that are beneficial to both parties.</p>'
                                - object['M'] += '<p><b>Market Strategy</b> – A well-crafted marketing strategy identifies customer groups which a particular business can serve better than its target competitors.</p>'
                                - object['M'] += '<p><b>Marketing Plans</b> – Marketing plans is a well written, comprehensive marketing plan, which is the focal point of all business ventures. It describes how you plan to attract and retain customers - the most crucial aspect of a business.</p>'
                                - object['M'] += '<p><b>Marketing Mix</b> – It is combination of the 4 P\'s of Marketing. It is the combination of product, price, place (distribution), and promotion. It is used in marketing by marketing professionals.</p>'
                                - object['M'] += '<p><b>Media Relations</b> – It involves working with media enterprises to promote about products, company and the new launch.</p>'
                                - object['M'] += '<p><b>Marketing Analysis</b> – A market analysis studies the attractiveness and the dynamics of a special market within a special industry.</p>'
                                - object['N'] = ''
                                - object['N'] += '<p><b>NNN (Triple Net Lease)</b> – A lease agreement that designates the lessee (the tenant) as being solely responsible for all of the costs relating to the asset being leased in addition to the rent.</p>'
                                - object['N'] += '<p><b>Net loss</b> – Net loss is the opposite of the net income. Net loss results from the excess of asset decreases (expenses) the over asset increases (revenues) for a period.</p>'
                                - object['N'] += '<p><b>Networking</b> – Business networking is a socioeconomic activity by which groups of like-minded business people recognize, create, or act upon business opportunities.</p>'
                                - object['O'] = ''
                                - object['O'] += '<p><b>Outreach</b> – Outreach is an activity of providing services to populations who might not otherwise have access to those services.</p>'
                                - object['O'] += '<p><b>Overhead Expenses</b> – Overhead refers to all non-labor expenses required to operate your business.</p>'
                                - object['P'] = ''
                                - object['P'] += '<p><b>Podcast</b> – A podcast is a type of digital media consisting of an episodic series of audio, video, PDF, or ePub files subscribed to and downloaded through streamed online to a computer or mobile device.</p>'
                                - object['P'] += '<p><b>Professional Advisor</b> – They closely work with individuals who are most likely to create personal, named funds at these public foundations.</p>'
                                - object['P'] += '<p><b>Payroll Service Provider</b> – Payroll Service Providers allow small businesses to outsource complex payroll issues at very low costs.</p>'
                                - object['P'] += '<p><b>Pension Plan Manager</b> – They (Pension scheme managers) are responsible for ensuring that pension schemes operate effectively and sustainably.</p>'
                                - object['P'] += '<p><b>Pre-employment Screening Service</b> – This service helps to check and verify the background of an employee to be recruited.</p>'
                                - object['P'] += '<p><b>Permits</b> – It allows/permits someone to do something within the legal norms.</p>'
                                - object['Q'] = ''
                                - object['R'] = ''
                                - object['R'] += '<p><b>Retained Earnings</b> – It refers to the sum of net income which is retained by the company rather than distributed to its owners as share.</p>'
                                - object['R'] += '<p><b>Revenue</b> – It is income that a company receives from its business operations such as business activities, usually from the sale of goods and services to customers.</p>'
                                - object['R'] += '<p><b>Reality Checks</b> - An assessment to determine if one\'s circumstances or expectations conform to reality.</p>'
                                - object['S'] = ''
                                - object['S'] += '<p><b>Software</b> – Software is any set of machine-readable instructions that directs a computer\'s processor to perform specific operations.</p>'
                                - object['S'] += '<p><b>Strategic Technology Plan</b> – It is a specific type of strategy plan that lets an organization know where they are and where they want to be sometime in future in regards of technology and infrastructure.</p>'
                                - object['S'] += '<p><b>Sole Proprietorship</b> – It is a type of business entity that is owned and run by an individual.</p>'
                                - object['S'] += '<p><b>"S" Corporation</b> – It is corporation that makes a valid election to be taxed under subchapter S chapter 1 of the Internal Revenue Code.</p>'
                                - object['S'] += '<p><b>State Licenses and Permits</b> – The state in which you propose to conduct business may require you to have special licenses and permits to do business.</p>'
                                - object['S'] += '<p><b>The Seller’s Permit</b> – A seller’s permit allows you to collect sale taxes from customers and your clients, which you in turn pay to the state, local or federal government.</p>'
                                - object['S'] += '<p><b>Start up Cost</b> – The required amount of money to set up a new business.</p>'
                                - object['S'] += '<p><b>SBS Loan</b> – Loans provided to small businesses for various purposes by a lender. These loans may have less restrictive requirements, enabling the small business to secure the funds.</p>'
                                - object['S'] += '<p><b>Strategic Planning</b> – Strategic planning is an organization\'s process of defining its strategy, or direction, and making decisions on allocating its resources to pursue this strategy.</p>'
                                - object['T'] = ''
                                - object['T'] += '<p><b>Trademark</b> – It is a brand name or sign, or symbol which represents a particular name, source or company.</p>'
                                - object['T'] += '<p><b>Tradeshow Marketing</b> –Tradeshow Marketing is large exposition to promote awareness and sales of especially new products within an industry.</p>'
                                - object['U'] = ''
                                - object['V'] = ''
                                - object['V'] += '<p><b>Veto</b> - It is the power of an officer of the state to officially stop the unilaterally a piece of legislation.</p>'
                                - object['V'] += '<p><b>Variable (related to business sales) Expenses</b> - Variable costs are directly related to business sale. They change with the volume of the product you sel</p>'
                                - object['W'] = ''
                                - object['W'] += '<p><b>Workers Compensation Insurance</b> - It helps protect your employees from injuries in the course of employment and keeps you in compliance with workers compensation laws.</p>'
                                - object['X'] = ''
                                - object['Y'] = ''
                                - object['Z'] = ''
                                    each val,key in object
                                        if (val !='')
                                            li(data-tab="#{key}")=key
                                        else
                                            li.deactive(data-tab="#{key}")=key
                            ul.content-list-short-text
                                -n=0
                                each val,key in object
                                    if (n == 0)
                                        li(id="tab-#{key}").active!=val
                                    else
                                        li(id="tab-#{key}")!=val
                                    -n++



                div#lesson1.bg-frame
                    #skip
                    div.background
                        img(src='image/introlesson1.png')
                        img(src='image/inside_the_room.png').hide
                        img(src='image/inside_the_room_1.jpg').hide
                        img(src='image/inside_the_room_2.png').hide
                        img(src='image/inside_the_room_3.png').hide
                        img(src='image/inside_the_room_4.png').hide
                        img(src='image/inside_the_room_5.png').hide
                        #background-blue.animated
                            .inside-box
                        #background-blue-zoomIn.animated
                        div#show-sentence.blue-box.hide
                            div.intro
                                p(data-top='160px' data-right='150px') Welcome to News at 9. I'm your host Sally James. As you all know, every Firday we meet a special guest and learn from their success story.
                                p(data-top='160px' data-right='150px') Today, we have with us a successfull entrepreneur, and winner of this year's The Chamber of Commerce, Business of the Year Award, Mr. Chris Fox.
                                p(data-top='160px' data-right='150px') Before we welcome him, here are the points we are going on to discuss today:
                                p(data-top='240px' data-right='20px') Wellcome Mr. Fox tow News @9. Firstly, Congratulations on your achievement.
                                p(data-top='200px' data-right='200px') Thank you very much
                                p(data-top='320px' data-left='250px') So Mr. Fox, how does it feel, to win such a great honor?
                                p(data-top='240px' data-right='250px') It feel absolutely great. Looking back, the journey that I began a few years ago means a lot of me.
                                p(data-top='240px' data-right='350px') Ok, Please tell us about this journey of yours. How did you get start on this business?
                                p(data-top='240px' data-right='250px') To answer your question, I will have to take you ten years back, when i deciding on a business.
                            div.part1.active
                                p(data-top='160px' data-right='150px') Before we move on, let me tell our viewers what are going to discuss in this segment.
                                p(data-top='260px' data-left='150px') Yes Mr. For tell us about your journey to this point in time.
                                p(data-top='230px' data-right='200px' data-width='250px') Initilly when I thoungt about starting a new business I encountered many question, such as :
                                    span Am i up to it?
                                    span What industry, where to locate, etc?
                                    span Should i choess a full or par-time opportunity?
                                p(data-top='230px' data-right='200px' data-width='250px') Let go back a few years. I would like to share the answers I found to there questions, through my own experience.
                                p(data-top='260px' data-left='150px') Click the highlighted calendar to learn about Mr. For'x jounrey.
                                p#calendar
                            div.part2
                                p(data-top='230px' data-left='170px' data-width='295px') Take a break for now. If you wish to know more about the advantages and disadvantages of a part-time business, click on the white board.
                                p(data-top='578px' data-right='44px' data-width='344px') Click the white board to learn more about part-time business.
                            div.part3
                                p(data-top='250px' data-left='200px') Welcome back! Let's now move on to the next segment of today's interview.
                                p(data-top='240px' data-left='200px') Mr. Fox, how did you know that the business you'd selected was right for you?
                                p(data-top='210px' data-right='260px' data-width='230px') Honest self-ecaluation is the key. It helped me figure out if I had the copabilities to run my own business successfully.
                                p(data-top='210px' data-right='260px' data-width='230px') Plus, deciding which business was right for me involved a lot of planning, based on my experience and knowledge of the market in which I planned to operate.
                                p(data-top='210px' data-right='260px' data-width='230px') Here's a checklist that outlines how you can choose a business that is right for you.
                                p(data-top='260px' data-left='200px') Click the laptop to learn more.
                            div.part4
                                p(data-top='250px' data-left='200px') Welcome back! Let's now move on to the next segment of today's interview.
                                p(data-top='250px' data-left='200px') I am sure our viewers must have found that useful. But Mr. Fox, according to you what is the most common mastake people make while selecting a business?
                                p(data-top='210px' data-right='260px' data-width='230px') The most common mistake and the most costly one, is not selecting the right business initially.
                                p(data-top='210px' data-right='260px' data-width='230px') To select the right business you have to visualize every step, plan every move, and evaluate it with a "Fox" and "Against" list.
                                p(data-top='250px' data-left='200px') Can you elaborate more on this?
                                p(data-top='210px' data-right='260px' data-width='230px') Sure. In my book "Starting a Business", I have given some tips about how to select a business. Please refer to page 130-134.
                                p(data-top='578px' data-right='44px' data-width='344px') Click the book to read tips about how to select a business
                            div.part5
                                p(data-top='250px' data-left='200px') So you see, it is important to select a business that is best suited to you. Before we move forward let's have a quick quiz.
                            div.part6
                                p(data-top='0px' data-left='0px')
                            div.part7
                                p(data-top='250px' data-left='200px') That brings us to another break. Till we come back, take a look at the points we will discuss in our next segment.
                                p(data-top='250px' data-left='200px') Welcome back, so Mr. Fox once it's decided what business you want to do, what should be the next step for an entrepreneur?
                                p(data-top='210px' data-right='260px') Once you are decided what business you want to start, the most important thing is planning and preparation.
                                p(data-top='210px' data-right='260px') As you can see Ms. James, I still have those do's and don'ts written here on this board.
                            div.part8
                                p(data-top='250px' data-left='200px') Those are indeed important points and one should always consider them not only at the initial stage of busness but throughout one's professional life.
                                p(data-top='210px' data-right='260px') Yes, always.
                                p(data-top='250px' data-left='200px') Once you finish going through the detailed evaluation procedure, make sure that you are ready to face this new challenge in your life.
                                p(data-top='210px' data-right='260px') Your preparation doesn't end till you get completely qualified.
                                p(data-top='250px' data-left='200px') What do you mean by conpletely qualified?
                                p(data-top='210px' data-right='260px') When I say completely qualified that does not mean only academically.
                                p(data-top='250px' data-left='200px') Before we move to our last segment, let's have another quick quiz.
                            div.part9

                        div#show-in-table.hide
                            div.intro
                                p In this episode, we are going to discuss:
                                p How to select the business that's just right for you
                                p How to avoid the most common, but serious mistake made in business--not picking the right one to begin with
                                p How to avoid potential mistakes from experience and wisdom of others
                            div.part1
                                p In this segment, we are going to discuss:
                                p What thing one should decide before starting a business
                                p How to select a business that is just right for you
                            div.part1-calendar.calendar-1
                                p Are you sure are up to it?
                                p You are putting some (not all, hopefully) of your net worth at risk.
                                p You may run the risk of creating a lift that is out of balance, with working hours talking away from other family or pleasurable activities
                                p There may be levels of strees you have not experienced as an employee
                            div.part1-calendar.calendar-2
                                p What business do you want to start and where do you want to locate it?
                                p You must decide which type of business is best for you.
                                p Where your expertise lies.
                                p Where your locate that business.
                            div.part1-calendar.calendar-3
                                p Is it going to be full-time?
                                p Are you going to devote all your time to it. Or will be part-time?
                                p There are some advantages and some pitfalls in operating as a part-time business
                                p Where your locate that business.
                            div.part2-table
                                table
                                    thead
                                        th
                                            p The advantages of statrting a part-time business outweigh the risks:
                                        th
                                            p Some disadvantages of starting a part-time business are:
                                    tbode
                                        tr
                                            td
                                                p You conserve your earnings including retirement, health and fringe benefits and vacations.
                                            td
                                                p There is a possible temptation to spend time at your job working on your business. That is unfair to your employer.
                                        tr
                                            td
                                                p Your full-time job won't suffer if you compartmentalize your job and business into completely separate worlds.
                                            td
                                                p You may end up competing with your employer, which is not right. Think of how you would feel or handle this employee if you were the boss.
                                        tr
                                            td
                                                p You can avoid conflict of interest with your job by choosing a business that is appropriate for part-time business such as, real estate, specialized food, e-commerce, direct marketing, or family-run operations.
                                            td
                                                p Any kind of conflict with regular work can jeopardize your job and your business.
                                        tr
                                            td
                                                p THer are many advantages to operating a family business. If you are a part-timer the family can run the business while you are at work. You have a built-in organizational strucure. You can teach your kids the benefits of being in business.
                                            td
                                                p Mental and physical exhaustion can become a real problem for part-time entrepreneurs.
                            div.part3-laptop.laptop-1
                                p How to select a business that's right for you
                                p If you have not selected a business, take the time and wait to find the ideal business for you.
                                p Try to identify a business that bas long-term economic potential
                                p Dont's tru to tackle or pursue business that may be too challenging in multiple ways.
                                p Determine the pricing power of the service business you are considering.
                                p Avoid a "commoditu" business where you must complete entirely on price and in which you must have the lowest cost to survive.
                                p Specialize. Keep in mind that as a general rule specialists do better thatn non-specialists.
                                p If you are manufacturing a product, consider the pros and cons of out-sourcing production to a low-cost supplier. In other words, operate a "Hollow" corporation.
                            div.part3-laptop.laptop-2
                                p How to select a business that's right for you
                                p If your business is based on marketing an invention or patent, remember:
                                    span a) First check to determine if there are any issued patents similar to your idea. You can secure information from the U.S. Patent office at www.uspto.gov
                                    span b) Be cautious about getting involved with firms that ask for up-front fees to market an invention.
                                    span c) No matter what you hope for, you will need a product to test, to show and to solicit feedback.
                                p Operate a business that will grow in today's and tomorrow's markets.
                            div.part4-book
                                p
                            div.part5-table
                            div.part6
                                p Jond is fed up with his current job and is looking for an alternative. He has decided to start a business that utilizes his creative talents. He is very good at visualization and graphics and wants to get into advertising, but he thinks there may be too much competition. What do you think, which of the following approaches should he use?
                                p
                                    input(type="radio")
                                    | The traditional approach to entrepreneurship is methodical, scientific process. Generally speaking, the approach consists of researching the market, identifying a need, and creating a business to fill it.
                                p
                                    input(type="radio")
                                    | Do What You Love and The Money Will Follow Approach, where he might have to facae following scenarios:
                                    span No one wants to buy it.
                                    span Someone else already thought of it.
                                    span Too much of competition.
                                    span There's more to it than you realized.
                                p
                                    input(type="radio")
                                    | The Best Of Both Worlds Approach, where some of the pissble resources for business ideas include:
                                    span Finding out: what he is truly passionate about and figure out how to make a business out of it.
                                    span Researching: research the market, identify a need, and create a business to fill it.
                                    span Observing: keep a constant lookout for unmet needs.
                                p Select the correct answer, and the click Submit.
                                p#btn-submit-part6
                            div.part7-table1
                                p In this segment, we will discuss:
                                p Do's, Dont's, and things you should watch out for at the initial stage of starting a business.
                                p How ready are you for the new business?
                                p Essential qualities that are required to become a successful entrepreneur.
                            div.part7-table2
                                p Things to Watch Out for:
                                    span Impatience, overconfidence, and enthusiasm can prevent you from analyzing your business carefully. Work out the negative aspects; it is mach better to be aware of them and to face them early on.
                                    span Be wary of the lure of quick and high rewards. If you have selected the right business, it will grow in time and reward you for your efforts.
                                p Do's
                                    span Live prudently and begin saving up money for operating your business.
                                    span Learn your busuness by working for someone else in the same business first.
                                    span Consider the benefits of starting a part-time business.
                                    span Consider the advantages of operating a family business.
                                    span Objectively measure your skills and training against potential competition.
                                    span Consider subcontracting to low cost ssppliers if you're manufacturing a product.
                                    span Test market your product or service before starting or expanding.
                                    span Make a "for" and "against" list describing the business you are in or considering.
                                    span Talk to a lot of people for advice.
                                    span Make a comparative analysis of all opportunities you are considering.
                                p Don'ts
                                    span Don't quit your job before you have conpleted start-up plans.
                                    span Don't consider operating a business in a field you do not enjoy.
                                    span Don't risk all the family assets. Limit your liablitities to a predetermined amount.
                                    span Don't compete with your employer in a part-time business.
                                    span Don't be in a hurry to select a business. There is no penalty for missed opportunities.
                                    span Don't select a business that is to high o risk or hurdle.
                                    span Don't operate a business in which you must have the lowest price to succeed.
                                    span Don't neglect to learn the negative aspects of an intened business.
                                    span Don't permit entrepreneurial self-confidence to outweigh business sense.
                                    span Don't allow the promise of a conceptual high reward deter reality testing first.
                            div.part8
                                p The Best Way To Become Qualified Is To:
                                p Go to work for someone in the same business.
                                p Attend all classes you can on the skills you need: for example, accounting, computing, and selling.
                                p Read as many relevant "How to" books as you can.
                                p Be brave and ask questions or seek help from the most seccessful invividuals in your intended business.
                            div.part9
                                p Two years ago, Ann passed her BMA majoring in Human Resources. She didn't want to work elsewhere, so shw decided to start her own hiring agency. Two years after starting her own company, she was still unable to cope with her day to day business demands.
                                p What could Ann have done to increase her changes of success in her business venture?
                                p
                                    input(type="radio")
                                    | Attend classes in accounting, computing, and selling.
                                p
                                    input(type="radio")
                                    | Read as many relevant "How To" books as she could.
                                p
                                    input(type="radio")
                                    | Ask questions or seek help from the most successful individuals in her intended business.
                                p
                                    input(type="radio")
                                    | All of the Above.
                                p Select the correct answer, and then click Submit.
                        div#click-redx.hide
                            p.where-part1-calendar click on the Red 'x' to continue.



    //input.range(type="range"  min="0" max="100")

block append scripts
    script(src='js/lesson_one.js' type='text/javascript')