extends index
block main
  div#lesson1
    div#backgroundIntroLesson1
      img(src='image/introlesson1.png')
    div#intro
      div#sentence1.blue-box
        p welcome to abc
  input.range(type="range"  min="0" max="100")