extends index
block main
	div#lesson1
		div#backgroundIntroLesson1.bg-frame
			img(src='image/introlesson1.png')
			div#intro
				div#show-sentence.blue-box.hidden
					p welcome to abc
				div#show-in-table.hidden
					p abc
	input.range(type="range"  min="0" max="100")

block append scripts
	script(src='js/script.js' type='text/javascript')