extends index
block main
  div#lesson1
    div#backgroundIntroLesson1.bg-frame
      img(src='image/introlesson1.png')
      img(src='image/inside_the_room.png').hidden
      img(src='image/inside_the_room_1.jpg').hidden
      img(src='image/inside_the_room_2.png').hidden
      div#intro
        div#show-sentence.blue-box.hidden
          p Welcome to News at 9. I'm your host Sally James. As you all know, every Firday we meet a special guest and learn from their success story.
          p Today, we have with us a successfull entrepreneur, and winner of this year's The Chamber of Commerce, Business of the Year Award, Mr. Chris Fox.
          p Before we welcome him, here are the points we are going on to discuss today:
        div#show-in-table.hidden
          p In this episode, we are going to discuss:
          p How to select the business that's just right for you
          p How to avoid the most common, but serious mistake made in business--not picking the right one to begin with
          p How to avoid potential mistakes from experience and wisdom of others
        div#screen-1
          div.lady-talk.blue-box.hidden
            p Wellcome Mr. Fox tow News @9. Firstly, Congratulations on your achievement.
          div.man-talk.blue-box.hidden
            p Thank you very much
        div#screen-2
          div.lady-talk.blue-box.hidden
            p So Mr. Fox, how does it feel, to win such a great honor?
          div.man-talk.blue-box.hidden
            p It feel absolutely great. Looking back, the journey that I began a few years ago means a lot of me.
            p To answer your question, I will have to take you ten years back, when i deciding on a business.
        div#screen-3
          div.lady-talk.blue-box.hidden
            p Ok, Please tell us about this journey of yours. How did you get start on this business?

  input.range(type="range"  min="0" max="100")

block append scripts
  script(src='js/script.js' type='text/javascript')