/* Background Wrapper */
body {
  background-color: #ccc;
}

#bgWrapper {
  background: url("#{$img_path}/tv_frame.png") 0 0 no-repeat black;
  background-size: cover;
  padding: 52px 37px;
  position: relative;
  width: 980px;
  height: 640px;
  margin: auto;
  box-sizing: border-box;
}

/* Main Wrapper */
#mainWrapper {
  position: relative;
  margin: auto;

  .btn-skip-intro {
    position: absolute;
    bottom: -50px;
    left: -5px;
  }


  /* Intro */
  .welcomeText{
    position: absolute;
    right: 40px;
    bottom: 300px;
    width: 271px;
    height: 137px;
    overflow: hidden;
    img{
      display: none;
      &.show{
        display: block !important;
      }
      &.hide{
        display: none !important;
      }
    }
  }

}

