.blue-box p {
  position: absolute;
  background: #143E7C;
  color: white;
  padding: 10px;
  width: 200px;
  min-height: 50px;
  border-radius: 13px;
  border: 3px solid;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 200;
  line-height: 19px;
  span {
    display: block;
    margin-left: 20px;
  }
}

.layout1 {
  display: table;
  width: 100%;
}

.layout2 {
  display: table-cell;
  vertical-align: middle;
}

.bg-frame {
  padding: 63px 44px;
  box-sizing: border-box;
}

div#tv_frame {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  .tv {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100%;
  }
}

.background {
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  img {
    width: 100%;
    height: 650px;
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11){
      width: 50%;
    }
  }
}
#menu-glossary {
 margin-right: 580px;
}
#parts-list li.active a {
  color: red;
}
div#show-sentence {
  .part6 {
    opacity: 0;
  }
}
div#show-in-table {
  > div {
    position: absolute;
  }
  font-size: 15px;
  p {
    line-height: 22px;
    margin-bottom: 19px;
    &:first-child {
      font-weight: 800;
      margin-bottom: 12px;
    }
  }
  .intro {
    top: 205px;
    left: 218px;
    width: 360px;
  }
  .part1 {
    top: 200px;
    left: 59px;
    color: white;
  }
  .part6 {
    color: black;
    font-size: 17px;
    top: 0;
    left: 0;
    p {
      position: relative;
      span {
        display: block;
        margin-left: 20px;
      }
      &:nth-child(1) {
        top: 114px;
        left: 26px;
        width: 90%;
      }
      &:nth-child(2) {
        top: 130px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(3) {
        top: 130px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(4) {
        top: 130px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(5) {
        top: 180px;
        left: 40px;
        width: 64%;
      }
      &:nth-child(6) {
        top: 180px;
        left: 40px;
        width: 100%;
//        display: block !important;
      }
    }
  }
  .part7-table1 {
    top: 13%;
    left: 2%;
    color: white;
//    background: rgb(0, 178, 255);
    width: 95%;
    height: 80%;
//    opacity: 0.6;
    border-radius: 10px;
    p {
      display: inline-block;
      position: relative;
//      font-size: 14px;
      &:nth-child(1) {
        top: 152px;
        left: 29%;
        font-size: 18px;
      }
      &:nth-child(2) {
        top: 152px;
        left: 31%;
        font-size: 18px;
        width: 34%;
        display: block;
      }
      &:nth-child(3) {
        top: 152px;
        left: 31%;
        font-size: 18px;
      }
      &:nth-child(4) {
        top: 152px;
        left: 31%;
        font-size: 18px;
        width: 32%;
        display: block;
      }
    }
  }
  .part7-table2 {
    top: 0;
    left: 0;
    width: 100%;
    p {
      position: relative;
      span {
        display: block;
        margin-left: 20px;
      }
      &:nth-child(1) {
        top: 62px;
        left: 5%;
        width: 90%;
      }
      &:nth-child(2) {
        top: 100px;
        left: 40px;
        width: 40%;
      }
      &:nth-child(3) {
        top: -236px;
        left: 52%;
        width: 40%;
      }
    }
  }
  .part8 {
    top: 200px;
    left: 70px;
    color: white;
    p {
      width: 50%;
    }
  }
  .part9 {
    color: black;
    font-size: 17px;
    top: 0;
    left: 0;
    p {
      position: relative;
      &:nth-child(1) {
        top: 114px;
        left: 26px;
        width: 90%;
      }
      &:nth-child(2) {
        top: 120px;
        left: 26px;
        width: 90%;
        font-weight: 800;
      }
      &:nth-child(3) {
        top: 150px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(4) {
        top: 150px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(5) {
        top: 150px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(6) {
        top: 150px;
        left: 340px;
        width: 100%;
      }
      &:nth-child(7) {
        top: 310px;
        left: 30px;
        width: 100%;
      }
    }
  }
  .part1-calendar.calendar-1,
  .part1-calendar.calendar-2,
  .part1-calendar.calendar-3 {
    top: 200px;
    left: 30%;
    width: 40%;
    text-align: left;
  }
  .part1-calendar.calendar-3 {
    p:last-child {
      position: relative;
      top: 239px;
      left: -14px;
      color: red;
    }
  }
  #btn-submit-part6 {
    background: url("img/submit.png") no-repeat;
    height: 57px;
    width: 128px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 597px;
    left: 950px;
    margin: 0;
    &:hover {
      background: url("img/submit_hover.png") no-repeat;
    }
  }
}

div#skip {
  background: url("img/btn_skip_intro.png") no-repeat;
  height: 35px;
  width: 65px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
  &:hover {
    background: url("img/btn_skip_intro_hover.png") no-repeat;
  }
}

div#click-redx {
  position: absolute;
}

div#background-blue {
  transition: 1s all ease-in-out;
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background: rgba(15, 116, 213, 0.7);
  .inside-box {
    height: 200px;
    width: 80%;
    background: rgba(25, 81, 177, 0.6);
    top: 26%;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid rgb(15, 54, 88);
  }
}
div#background-blue-zoomIn {
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 86%;
  background: rgba(15, 116, 213, 0.7);
  border-radius: 10px;
}
div#control {
  /* position: absolute; */
  /* z-index: 3; */
  /* width: 100%; */
  /* bottom: 0; */
  /* background: #fff; */
}

ul#menu li {
  display: inline-block;
}

.panel-fla {
  position: absolute;
  background: white;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: scroll;
  .title-panel {
    background: #131313;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    margin: 2px 0;
  }
  .content-panel {
    background: rgb(126, 200, 247);
    padding: 6px;
    border-radius: 5px;
  }
}

div#transcript {
  z-index: 3;
  bottom: 260px;
  width: 300px;
  height: 200px;
  right: 43px;
  .content-panel {
    height: 200px;
  }
}

div#glossary {
  z-index: 4;
  width: 80%;
  bottom: 83px;
  left: 47px;
  .content-panel {
    height: 300px;
  }
}

ul#menu {
  position: absolute;
  bottom: 15px;
  z-index: 5;
  left: 65px;
  li {
    cursor: pointer;
    padding-right: 10px;
  }
  a {
    padding: 10px 10px 41px 10px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    &:hover {
      color: rgb(2, 141, 189);
    }
  }
  [id*=btn-] {
    width: 13px;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    padding: 0;
    position: relative;
    top: 3px;
    &:hover {
      &:before {
        background: rgb(2, 141, 189);
      }
    }
    &:before {
      position: absolute;
      content: "";
      width: 4px;
      background: black;
      top: -10px;
      height: 20px;
    }
  }
  #btn-back {
    border-right: 14px solid rgb(8, 8, 9);
    &:hover {
      border-right: 14px solid rgb(2, 141, 189);
    }
    &:before {
      right: -21px;
    }
  }
  #btn-next {
    border-left: 14px solid rgb(8, 8, 9);
    &:hover {
      border-left: 14px solid rgb(2, 141, 189);
    }
    &:before {
      left: -21px;
    }
  }
  #btn-pause {
    height: 0px;
    background: #000;
    width: 4px;
    position: absolute;
    top: 5px;
    right: 238px;
    &:hover {
      background: rgb(2, 141, 189);
    }
    &:before {
      right: -7px;
    }
    &.btn-play {
      width: 13px;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      padding: 0;
      top: 3px;
      border-left: 14px solid rgb(8, 8, 9);
      position: absolute;
      top: 5px;
      background: none;
      right: 215px;
      &:hover {
        border-left: 14px solid rgb(2, 141, 189);
      }
      &:before {
        display: none;
      }
    }
  }
  #parts-list {
    background: #7a7a7a; /* Old browsers */
    background: -moz-linear-gradient(top, #7a7a7a 0%, #434247 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a7a7a), color-stop(51%,#434247), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7a7a7a 0%,#434247 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7a7a7a 0%,#434247 51%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7a7a7a 0%,#434247 51%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7a7a7a 0%,#434247 51%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 5px 7px;
    position: relative;
    top: -4px;
    margin: 0 14px;
    font-size: 14px;
    border: 1px solid #000;
  }
  #btn-mute {
    background: url("img/btn_mute.png") no-repeat;
    height: 26px;
    width: 36px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
    top: -8px;
    right: 430px;
    display: block;
    background-size: 70%;
    &:hover {
      background: url("img/btn_mute_hover.png") no-repeat;
      background-size: 70%;
      height: 26px;
      width: 36px;
    }
    &.btn_no_mute {
      background: url("img/btn_no_mute.png") no-repeat;
      height: 26px;
      width: 36px;
      position: absolute;
      bottom: 0;
      cursor: pointer;
      z-index: 2;
      top: -6px;
      right: 430px;
      display: block;
      background-size: 81%;
      &:hover {
        background: url("img/btn_no_mute_hover.png") no-repeat;
        height: 26px;
        width: 36px;
        background-size: 81%;
      }
    }
    &:before {
      display: none;
    }
  }
  #slide {
    position: absolute;
    top: -4px;
    right: 261px;
  }
}

ul.list-short-text {
  background: rgb(35, 147, 221);
  padding: 6px 20px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
  li {
    display: inline-block;
    padding: 0 5px 0 2px;
    cursor: pointer;
    border-right: 1px solid #ccc;
  }
  li.deactive {
    color: #ccc;
  }
}

ul.content-list-short-text {
  li.active {
    display: block;
  }

  li {
    display: none;
    height: 243px;
    overflow-x: scroll;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #143E7C;
    p {
      line-height: 19px;
      margin-bottom: 10px;
      b {
        font-weight: 800;
      }
    }

  }
}

#btn-calendar {
  top: 549px;
  height: 50px;
  width: 50px;
  background: none;
  border: 3px solid red;
  box-shadow: none;
  border-radius: 0;
  left: 335px;
}
