.blue-box p {
  position: absolute;
  background: #143E7C;
  color: white;
  padding: 10px;
  width: 200px;
  min-height: 50px;
  border-radius: 13px;
  border: 3px solid;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 200;
  line-height: 19px;
  span {
    display: block;
    margin-left: 20px;
  }
}

.layout1 {
  display: table;
  width: 100%;
}

.layout2 {
  display: table-cell;
  vertical-align: middle;
}

.bg-frame {
  padding: 63px 44px;
  box-sizing: border-box;
}

div#tv_frame {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  .tv {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
  }
}

.background {
  position: relative;
  overflow: hidden;
  z-index: 1;
  img {
    width: 100%;
    height: 650px;
  }
}
#btn-play {
 margin-left: 360px;
}
#parts-list li.active a {
  color: red;
}
div#show-sentence {
  .part6 {
    opacity: 0;
  }
}
div#show-in-table {
  > div {
    position: absolute;
  }
  font-size: 15px;
  p {
    line-height: 22px;
    margin-bottom: 19px;
    &:first-child {
      font-weight: 800;
      margin-bottom: 12px;
    }
  }
  .intro {
    top: 205px;
    left: 218px;
    width: 360px;
  }
  .part1 {
    top: 200px;
    left: 59px;
    color: white;
  }
  .part6 {
    color: black;
    font-size: 17px;
    top: 0;
    left: 0;
    p {
      position: relative;
      span {
        display: block;
        margin-left: 20px;
      }
      &:nth-child(1) {
        top: 114px;
        left: 26px;
        width: 90%;
      }
      &:nth-child(2) {
        top: 130px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(3) {
        top: 130px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(4) {
        top: 130px;
        left: 340px;
        width: 64%;
      }
      &:nth-child(5) {
        top: 180px;
        left: 40px;
        width: 64%;
      }
      &:nth-child(6) {
        top: 180px;
        left: 40px;
        width: 100%;
//        display: block !important;
      }
    }
  }
  .part7-table1 {
    top: 13%;
    left: 2%;
    color: white;
//    background: rgb(0, 178, 255);
    width: 95%;
    height: 80%;
//    opacity: 0.6;
    border-radius: 10px;
    p {
      display: inline-block;
      position: relative;
//      font-size: 14px;
      &:nth-child(1) {
        top: 152px;
        left: 29%;
        font-size: 18px;
      }
      &:nth-child(2) {
        top: 152px;
        left: 31%;
        font-size: 18px;
        width: 34%;
        display: block;
      }
      &:nth-child(3) {
        top: 152px;
        left: 31%;
        font-size: 18px;
      }
      &:nth-child(4) {
        top: 152px;
        left: 31%;
        font-size: 18px;
        width: 32%;
        display: block;
      }
    }
  }
  .part7-table2 {
    top: 0;
    left: 0;
    width: 100%;
    p {
      position: relative;
      span {
        display: block;
        margin-left: 20px;
      }
      &:nth-child(1) {
        top: 62px;
        left: 5%;
        width: 90%;
      }
      &:nth-child(2) {
        top: 100px;
        left: 40px;
        width: 40%;
      }
      &:nth-child(3) {
        top: -236px;
        left: 52%;
        width: 40%;
      }
    }
  }
  #btn-submit-part6 {
    background: url("img/submit.png") no-repeat;
    height: 57px;
    width: 128px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 597px;
    left: 950px;
    margin: 0;
    &:hover {
      background: url("img/submit_hover.png") no-repeat;
    }
  }
}

div#skip {
  background: url("img/btn_skip_intro.png") no-repeat;
  height: 35px;
  width: 65px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
  &:hover {
    background: url("img/btn_skip_intro_hover.png") no-repeat;
  }
}

div#click-redx {
  position: absolute;
}

div#background-blue {
  transition: 1s all ease-in-out;
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background: rgba(15, 116, 213, 0.7);
  .inside-box {
    height: 200px;
    width: 80%;
    background: rgba(25, 81, 177, 0.6);
    top: 26%;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid rgb(15, 54, 88);
  }
}
div#background-blue-zoomIn {
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 86%;
  background: rgba(15, 116, 213, 0.7);
  border-radius: 10px;
}
div#control {
  /* position: absolute; */
  /* z-index: 3; */
  /* width: 100%; */
  /* bottom: 0; */
  /* background: #fff; */
}

ul#menu li {
  display: inline-block;
}

.panel-fla {
  position: absolute;
  background: white;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: scroll;
  .title-panel {
    background: #131313;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    margin: 2px 0;
  }
  .content-panel {
    background: rgb(126, 200, 247);
    padding: 6px;
    border-radius: 5px;
  }
}

div#transcript {
  z-index: 3;
  bottom: 260px;
  width: 300px;
  height: 200px;
  right: 43px;
  .content-panel {
    height: 200px;
  }
}

div#glossary {
  z-index: 4;
  width: 80%;
  bottom: 83px;
  left: 47px;
  .content-panel {
    height: 300px;
  }
}

ul#menu {
  position: absolute;
  bottom: 15px;
  z-index: 5;
  left: 65px;
  a {
    padding: 10px 10px 41px 10px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    &:hover {
      color: rgb(2, 141, 189);
    }
  }

}

ul.list-short-text {
  background: rgb(35, 147, 221);
  padding: 6px 20px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
  li {
    display: inline-block;
    padding: 0 5px 0 2px;
    cursor: pointer;
    border-right: 1px solid #ccc;
  }
  li.deactive {
    color: #ccc;
  }
}

ul.content-list-short-text {
  li.active {
    display: block;
  }

  li {
    display: none;
    height: 243px;
    overflow-x: scroll;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #143E7C;
    p {
      line-height: 19px;
      margin-bottom: 10px;
      b {
        font-weight: 800;
      }
    }

  }
}


