input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

div.bg-frame {
  width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

div#backgroundIntroLesson1 img {
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
  transition: 0.5s all ease-in-out;
}

div#lesson1 {
  position: relative;
}

div#show-sentence {
  position: absolute;
  top: 90px;
  right: 36px;
}

div#show-in-table {
  position: absolute;
}

.hidden {
  display: none;
}

#intro {

}


div#show-in-table p:first-child {
  font-weight: 800;
}

div#show-in-table {
  font-size: 12px;
  width: 260px;
  top: 150px;
  left: 157px;
}

div#show-in-table p {
  margin-bottom: 11px;
}
div#screen-3,
div#screen-2,
div#screen-1 {
  .blue-box {
    top: 138px;
    position: absolute;
    right: 6px;
  }
  .man-talk {
    top: 130px;
    right: 120px;
  }
  p {
    width: 178px;
    line-height: 17px;
  }
}

div#screen-2 {
  .blue-box {
    top: 171px;
    right: 0;
    left: 164px;
  }
  .man-talk {
    left: inherit;
    right: 129px;
  }
}
div#screen-3 {
  .blue-box {
    top: 110px;
    right: 20px;
    left: inherit;
  }
}

